<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :operation %>
  <%= text_input f, :operation %>
  <%= error_tag f, :operation %>

  <%= label f, :info %>
  <%= text_input f, :info %>
  <%= error_tag f, :info %>

  <div>
    <%= submit "Save" %>
  </div>
<% end %>
