<h1 class="title">Listing Logs</h1>

<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>User</th>
      <th>Operation</th>
      <th>Info</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
  <%= for log <- @logs do %>
    <tr>
      <td><%= log.user.name %></td>
      <td><%= log.operation %></td>
      <td><%= log.info %></td>
      <td><%= log.inserted_at %></td>
    </tr>
  <% end %>
  </tbody>
</table>
